@import 'compass/reset';
@import 'compass/css3';

@include font-face("Reckoner", font-files("reckoner/Reckoner.ttf"));
@include font-face("Reckoner Bold", font-files("reckoner/Reckoner_Bold.ttf"));
@include font-face("Dual", font-files("dual/Dual-300.otf", "dual/Dual-300.ttf"));

$dark1: #34495e;
$light1: #ecf0f1;

body {
	background: $dark1;
	font-family: "Dual";
	font-size: 16px;
	color: darken($dark1, 10);
}

h1 {
	font-family: "Reckoner";
	font-size: 256px;
	line-height: 160px;
	color: $light1;
	@include text-shadow(rgba(black, .4) 5px 5px 0);
	padding-left: 20px;
}

h3 {
	font-size: 1.5em;
	background: rgba(white, .2);
	display: inline-block;
	padding: 10px 8px 8px 8px;
}

.view {
	width: 500px;
	margin: 128px auto;
	text-align: center;
}
