@import 'compass/reset';
@import 'compass/css3';

@include font-face("Reckoner", font-files("reckoner/Reckoner.ttf"));
@include font-face("Reckoner Bold", font-files("reckoner/Reckoner_Bold.ttf"));
@include font-face("Dual", font-files("dual/Dual-300.otf", "dual/Dual-300.ttf"));

$dark1      : #34495e;
$light1     : #ecf0f1;
$gray       : #bdc3c7;
$orange     : #e67e22;
$yellow     : #f1c40f;
$blue       : #2980b9;
$red        : #c0392b;
$dark-green : #16a085;
$green      : #5C832F;

* {
	@include box-sizing(border-box);
}

button, a {
	cursor: pointer;
}

a {
	color: darken($dark1, 15);
	text-decoration: underline;
	&:hover {
		color: $blue;
	}
}

.logout {
	position: fixed;
	top: 8px;
	left: 8px;
	button {
		background: rgba(0, 0, 0, .3);
		color: rgba(255, 255, 255, .3);
		padding: 5px;
		font-size: 13px;
		border-radius: 3px;
		border: none;
	}
}

body {
	background: $dark1;
	font-family: "Dual";
	font-size: 22px;
	color: darken($dark1, 15);
	@include user-select(none);
	cursor: default;
}

.view {
	&.ng-enter {
		animation: fadeInUp 250ms;
	}
}

h1 {
	font-family: "Reckoner";
	font-size: 256px;
	line-height: 256px;
	color: $light1;
	@include text-shadow(rgba(black, .4) 5px 5px 0);
	padding-left: 20px;
	height: 200px;

	a.big-title {
		color: $light1;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

}

h3 {
	font-size: 24px;
	background: rgba(white, .4);
	display: inline-block;
	padding: 10px 8px 8px 8px;
	color: darken($dark1, 7);
	@include box-shadow(rgba(black, .5) 0 1px 5px);
}

.main {
	width: 500px;
	margin: 64px auto 64px auto;
	text-align: center;
	header {
		margin-bottom: 48px;
	}
}

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	@include background-image(radial-gradient(rgba(black, 0), rgba(black, .1)));
}

.centered {
	margin: 0 auto;
}

.rounded {
	@include border-radius(5px);
}

.rounded-top {
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
}

.rounded-bottom {
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
}

.rounded-left {
	@include border-left-radius(5px);
}

.rounded-right {
	@include border-right-radius(5px);
}

button, .btn {
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	margin: 0;
	padding: 20px;
	outline: none;
	font-family: 'Dual';
	background: $gray;
	border: 1px solid transparent;
	&:hover, &:focus {
		background: $dark-green;
		color: $light1;
	}
	&:active, &.active {
		background: darken($dark-green, 10);
		border-color: darken($dark-green, 25);
		@include box-shadow(rgba(white, .2) 0 1px inset);
	}
	&[disabled] {
		color: darken($gray, 10);
		@include text-shadow(rgba(white, .3) 0 1px);
		cursor: default;
		&:hover {
			cursor: default;
			background: $gray;
		}
	}
}

.stacked-form {
	width: 250px;
	margin: 0 auto 36px auto;
	@include box-shadow(rgba(black, .3) 0 0 20px);
	@include border-radius(5px);
	.form-control {
		position: relative;
		> i {
			font-size: 22px;
			text-align: center;
			color: darken($dark1, 15);
			position: absolute;
			top: 10px;
			left: -50px;
			display: block;
			width: 35px;
			height: 35px;
			line-height: 35px;
		}
	}
	button, input {
		font-size: 18px;
		display: block;
		width: 100%;
		border: none;
		margin: 0;
		padding: 20px;
		outline: none;
		font-family: 'Dual';
	}
	button.small {
		display: inline-block;
		width: auto;
		margin: 5px auto;
		padding: 5px;
		font-size: 13px;
		@include border-radius(3px);
		background: transparent;
		border: 1px solid rgba(black, .18);
		&.featured {
			width: 100%;
			font-size: 15px;
		}
		&:hover {
			color: $light1;
			@include box-shadow(
				rgba(black, .2) 0 1px inset,
				rgba(black, .3) 0 -1px inset
			);
			@include background-image(
				linear-gradient(bottom, darken($dark1, 15), darken($dark1, 10))
			);
		}
		&:active, &.active {
			@include background-image(
				linear-gradient(top, darken($dark1, 15), darken($dark1, 10))
			);
			color: darken($light1, 20);
			border-color: $dark-green;
		}
	}
	input {
		&[type=text], &[type=password], &[type=email] {
			@include user-select(text);
			&[disabled] {
				background: $gray;
			}
			background: $light1;
			color: $dark1;
			padding: 20px;
			font-size: 18px;
			&:focus {
				z-index: 2;
			}
		}
	}
}

p.info {
	font-size: 16px;
	line-height: 24px;
}

.marged {
	margin-bottom: 2em;
}

ul.process-list {
	width: 250px;
	margin: 0 auto;
	border: 1px solid rgba(black, .18);
	@include border-radius(5px);
	> li {
		&:first-child {
			> a {
				@include border-top-radius(5px);
			}
		}
		&:last-child {
			> a {
				@include border-bottom-radius(5px);
				border-bottom: none;
			}
		}
		> a {
			font-size: 16px;
			display: block;
			padding: 1em;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px dashed rgba(black, .18);
			&:hover {
				color: $light1;
				@include box-shadow(
					rgba(black, .2) 0 1px inset,
					rgba(black, .3) 0 -1px inset
				);
				@include background-image(
					linear-gradient(bottom, darken($dark1, 15), darken($dark1, 10))
				);
			}
			&:active, &.active {
				@include background-image(
					linear-gradient(top, darken($dark1, 15), darken($dark1, 10))
				);
				color: darken($light1, 20);
			}
		}
	}
}

.help-small {
	display: flex;
	justify-content: center;
	align-items: center;
	> a {
		display: flex;
		justify-content: center;
		font-size: 13px;
		text-decoration: none;
		padding: 5px;
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 3px;
		border: 1px solid transparent;
		> i {
			margin-right: 3px;
		}
		&:hover {
			color: darken($dark1, 15);
		}
		&.danger {
			background: rgba($red, .7);
			&:hover {
				color: darken($dark1, 15);
				background: $red;
			}
			&:active, &.active {
				border-color: darken($red, 25);
				@include box-shadow(rgba(white, .2) 0 1px inset);
			}
		}
		&.info {
			background: rgba($blue, .7);
			&:hover {
				background: $blue;
			}
			&:active, &.active {
				border-color: darken($blue, 25);
				@include box-shadow(rgba(white, .2) 0 1px inset);
			}
		}

	}
}

.pane {
	position: relative;
	color: $light1;
	font-size: 16px;
	text-align: left;
	padding: 10px;
	border-right: 1px solid rgba(white, .5);
	border-left: 1px solid rgba(white, .5);
	border-bottom: 1px solid rgba(white, .5);
	@include box-shadow(rgba(black, .5) 0 0 8px inset);
	.toolbox {
		position: absolute;
		width: 400px;
		top: 0;
		right: -420px;
		&.left {
			right: auto;
			left: -420px;
		}
		&.ng-enter {
			animation: fadeInRight 150ms;
		}
		&.ng-leave {
			animation: fadeOutRight 150ms;
		}
	}
}

.text-centered {
	text-align: center;
}

.inline-form {
	display: flex;
	@include box-shadow(rgba(black, .3) 0 0 20px);
	input, button {
		height: 58px;
	}
	input[type=time] {
		width: 222px;
	}
	.size-auto {
		width: auto;
	}
}

ul.ui-list {
	border: 1px solid rgba(black, .18);
	margin: 5px 0;
	@include border-radius(5px);
	> li {
		cursor: pointer;
		padding: 10px;
		border: 1px solid transparent;
		border-bottom-color: rgba(black, .18);
		color: darken($dark1, 15);
		&:first-child {
			@include border-top-radius(5px);
		}
		&:last-child {
			@include border-bottom-radius(5px);
			border-bottom-color: transparent;
		}
		&:hover {
			color: $light1;
			@include box-shadow(
				rgba(black, .2) 0 1px inset,
				rgba(black, .2) 0 -1px inset
			);
			@include background-image(
				linear-gradient(bottom, darken($dark1, 15), darken($dark1, 10))
			);
		}
		&:active, &.active {
			@include background-image(
				linear-gradient(top, darken($dark1, 15), darken($dark1, 10))
			);
			color: darken($light1, 20);
			border-color: $dark-green;
		}
	}
}

.correction {
	position: relative;
	.extra {
		text-align: right;
		li {
			.icon-mail {
				&:hover {
					color: #A3A1A1;
				};
				&.mailed {
					color: $green;
				}
			}
		}
	}
	.correction-infos {
		cursor: default;
		position: absolute;
		width: 300px;
		right: -320px;
		top: 0;
		border: 1px solid rgba(black, .18);
		@include border-radius(5px);
		> header {
			@include border-top-radius(5px);
			background: rgba(black, .18);
			padding: 10px;
		}
		> section {
			padding: 10px;
		}
		&.ng-enter {
			animation: fadeInUp 150ms;
		}
		&.ng-leave {
			animation: fadeOutDown 150ms;
		}
	}
}

.flex {
	display: flex;
	&.centered {
		align-items: center;
	}
}

.padded {
	padding: 10px;
}

.profile-img {
	@include box-shadow(rgba(black, .3) 0 0 20px);
	border: 2px solid rgba(white, .7);
}
