@import 'compass/reset';
@import 'compass/css3';

@include font-face("Reckoner", font-files("reckoner/Reckoner.ttf"));
@include font-face("Reckoner Bold", font-files("reckoner/Reckoner_Bold.ttf"));
@include font-face("Dual", font-files("dual/Dual-300.otf", "dual/Dual-300.ttf"));

$dark1: #34495e;
$light1: #ecf0f1;

$gray: #bdc3c7;
$orange: #e67e22;
$yellow: #f1c40f;
$blue: #2980b9;
$dark-green: #16a085;

* {
	@include box-sizing(border-box);
}

button, a {
	cursor: pointer;
}

a {
	color: darken($dark1, 15);
	text-decoration: underline;
	&:hover {
		color: $blue;
	}
}

.logout {
	position: fixed;
	top: 8px;
	right: 8px;
	button {
		background: rgba(0, 0, 0, .3);
		color: rgba(255, 255, 255, .3);
		padding: 5px;
		font-size: 13px;
		border-radius: 3px;
		border: none;
	}
}

body {
	background: $dark1;
	font-family: "Dual";
	font-size: 22px;
	color: darken($dark1, 15);
	@include user-select(none);
	cursor: default;
}

.view {
	&.ng-enter {
		animation: fadeInUp 1s;
	}
}

h1 {
	font-family: "Reckoner";
	font-size: 256px;
	line-height: 256px;
	color: $light1;
	@include text-shadow(rgba(black, .4) 5px 5px 0);
	padding-left: 20px;
	height: 200px;
}

h3 {
	font-size: 24px;
	background: rgba(white, .4);
	display: inline-block;
	padding: 10px 8px 8px 8px;
	color: darken($dark1, 7);
	@include box-shadow(rgba(black, .5) 0 1px 5px);
}

.main {
	width: 500px;
	margin: 64px auto 64px auto;
	text-align: center;
	header {
		margin-bottom: 48px;
	}
}

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	@include background-image(radial-gradient(rgba(black, 0), rgba(black, .1)));
}

.centered {
	margin: 0 auto;
}

.rounded {
	@include border-radius(5px);
}

button {
	font-size: 18px;
	display: block;
	border: none;
	margin: 0;
	padding: 20px;
	outline: none;
	font-family: 'Dual';
	background: $gray;
	&:hover, &:focus {
		background: $dark-green;
		color: $light1;
	}
	&:active {
		background: darken($dark-green, 10);
	}
}

.stacked-form {
	width: 250px;
	margin: 0 auto 48px auto;
	@include box-shadow(rgba(black, .3) 0 0 20px);
	@include border-radius(5px);
	.form-control {
		position: relative;
		> i {
			position: absolute;
			top: 10px;
			left: -50px;
			display: block;
			width: 35px;
			height: 35px;
			line-height: 35px;
			@include text-shadow(rgba(black, .3) 0 1px 2px);
		}
	}
	button, input {
		font-size: 18px;
		display: block;
		width: 100%;
		border: none;
		margin: 0;
		padding: 20px;
		outline: none;
		font-family: 'Dual';
	}
	input {
		&[type=text], &[type=password], &[type=email] {
			&[disabled] {
				background: $gray;
			}
			background: $light1;
			color: $dark1;
			padding: 20px;
			font-size: 18px;
			&:focus {
				z-index: 2;
			}
		}
	}
	.rounded-top {
		@include border-top-left-radius(5px);
		@include border-top-right-radius(5px);
	}
	.rounded-bottom {
		@include border-bottom-left-radius(5px);
		@include border-bottom-right-radius(5px);
	}
}

p.info {
	font-size: 16px;
	line-height: 24px;
}
