<div class="stacked-form">

	<div class="form-control">
		<i class="icon-pencil"></i>
		<input required focus-me="true" placeholder="field name" type="text" class="rounded-top"
		       ng-model="field.name" ng-disabled="loading" ui-keypress="{13:'updateField()'}">
	</div>

	<div class="form-control pane">

		<i class="icon-clock"></i>

		<div class="toolbox left" ng-if="addingTimeSlot">
			<div class="inline-form">
				<ng-datetime date="newTimeSlot.date"></ng-datetime>
				<button ng-disabled="!checkNewTimeSlot()" ng-click="addTimeSlot()" type="button"
				        class="rounded-right size-auto">
					<i class="icon-clock"></i>
				</button>
			</div>
		</div>

		<div class="text-centered">
			<button class="small" type="button" ng-click="toggleAddTimeSlot()" ng-class="{ active : addingTimeSlot }">
				<i class="icon-plus"></i> Add time slot
			</button>
		</div>
		<div class="text-centered">
			<ul class="slots">
				<li class="slot" ng-repeat="slot in field.slots" ng-class="{ nocursor: !slot.taken, active: slot.takenBy && slot.takenBy === selectedCorr }" ng-click="selectCorr(slot.takenBy)">{{ slot.date | date: 'dd/MM/yy HH:mm' }}
					<span class="extra">
						<i ng-class="{ 'icon-infinity': !slot.taken, 'icon-hourglass': slot.taken && !slot.done, 'icon-checkmark': slot.done }"></i>
						<i class="icon-cross2" ng-hide="slot.taken" ng-click="removeSlot(slot)"></i>
					</span>
				</li>
			</ul>
		</div>

	</div>

	<div class="pane form-control">

		<i class="icon-users"></i>

		<div class="toolbox left" ng-if="addingLogin">
			<div class="inline-form">
				<input class="rounded-left" type="text" focus-me="addingLogin" ng-model="$parent.newLogin" ui-keypress="{13:'addLogin()'}" placeholder="login" required >
				<button ng-disabled="!checkLogin(newLogin)" ng-click="addLogin(newLogin)" type="button" class="rounded-right size-auto">
					<i class="icon-user"></i>
				</button>
			</div>
		</div>

		<div class="text-centered">
			<button class="small" type="button" ng-click="toggleAddLogin()" ng-class="{ active : addingLogin }">
				<i class="icon-plus"></i> Add login
			</button>

			<button class="small" type="button" ng-click="loadSync()">
				<i class="icon-cycle"></i> Autoload logins
			</button>
			<br>
			<button class="small featured" type="button" ng-click="sendAll()" ng-disabled="field.slots.length === 0 || field.corrections.length === 0">
				<i class="icon-paperplane"></i> Email all
			</button>
		</div>
		<ul class="ui-list" ng-if="field.corrections.length">
			<li class="correction" ng-repeat="corr in field.corrections" ng-click="selectCorr(corr.targetName)"
			    ng-class="{ active : selectedCorr === corr.targetName }">

				<div ng-click="preventDefault($event)" ng-if="selectedCorr === corr.targetName" class="correction-infos">

					<header>
						<div class="flex centered">
							<img class="profile-img"
							     ng-src="https://cdn.42.fr/userprofil/commentview/{{ corr.targetName }}.jpg">
							<div class="padded">
								{{ corr.targetName }}
								<div class="stars">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p class="mail">
									<i class="icon-mail" ng-if="corr.mailed"></i>
									{{ corr.mailedOn | date:'dd/MM HH:mm' }}
								</p>
							</div>
						</div>
					</header>
					<section>
						<button class="small" ng-click="sendSpecific($event, corr)" ng-hide="corr.mailed" ng-disabled="field.slots.length === 0">
							<i class="icon-mail"></i> Email {{ corr.targetName }}
						</button>
						<p>due date : {{ corr.dueDate | date:'dd/MM HH:mm' }}</p>
						<div class="help-small">
						</div>
					</section>

				</div>

				<span>
					<i class="icon-cross" ng-click="deleteCorr(corr)" ng-if="!corr.dueDate"></i>
					{{ corr.targetName }}
				</span>

				<div class="extra">
					<ul>
						<li>
							<i class="icon-mail" ng-class="{ mailed: corr.mailed }"></i>
							<i class="icon-calendar" ng-class="{ hidden: !corr.dueDate || corr.dueDate === '1970-01-01T00:00:00.000Z' }"></i>
							<i class="icon-info2" ng-class="{ hidden: !corr.requests.length }"></i>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<button ng-click="updateField()" ng-disabled="equal()" type="submit" class="rounded-bottom">Save</button>

</div>

<div class="help-small">

	<a class="info" href="/">
		<i class="icon-back"></i>
		<span>Back</span>
	</a>

	<a class="danger" ng-click="deleteField()">
		<i class="icon-cross3"></i>
		<span>Delete</span>
	</a>

</div>
