<form ng-submit="updateField()" class="stacked-form">

	<div class="form-control">
		<i class="icon-pencil"></i>
		<input tabindex="1" autofocus placeholder="field name" type="text" class="rounded-top" ng-model="field.name" ng-disabled="loading">
	</div>

	<div class="logins-list form-control">
		<i class="icon-users"></i>
		<ul>
			<li>bgronon</li>
			<li>aardjoun</li>
			<li>cmarboeuf</li>
		</ul>
		<button class="small" type="button">
			<i class="icon-plus"></i> Add login
		</button>
	</div>

	<button ng-disabled="equal()" type="submit" class="rounded-bottom">Save</button>

</form>

<a class="help-small danger" ng-click="deleteField()">
	<i class="icon-cross3"></i>
	<span>delete</span>
</a>