<section>
<a ng-click="createAndLaunch()" class="btn rounded centered marged">
	Start a new correction process
	<i class="icon-play"></i>
</a>
<ul class="process-list" ng-show="fields.length">
	<li ng-repeat="field in fields">
	<a ng-href="/field/{{ field._id }}">
		{{ field.name }}
	</a>
	</li>
</ul>
</section>
<hr class="custom">
<section>
	Bookings
	<ul>
		<li ng-repeat="booking in bookings">
			{{ booking.user.login }} on {{ booking.date | date: 'dd/MM/yy HH:mm' }}
		</li>
	</ul>
</section>
