<section>
<a ng-click="createAndLaunch()" class="btn rounded centered marged">
	Start a new correction process
	<i class="icon-play"></i>
</a>
<ul class="process-list" ng-show="fields.length">
	<li ng-repeat="field in fields">
	<a ng-href="/field/{{ field._id }}">
		{{ field.name }}
	</a>
	</li>
</ul>
</section>
<hr class="custom">
<section>
	Bookings as a
	<div class="toggle rounded" ng-click="toggleMenu()">
		<a ng-class="{ 'active': activeCorrectors }"></a>
		<span>
			<span>Corrector</span>
			<span>Corrected</span>
		</span>
	</div>
	<ul class="process-list bookings">
		<li ng-repeat="booking in bookings">
			<img ng-src="https://cdn.42.fr/userprofil/icon/{{ booking.user.login }}.jpg">
			<span>{{ booking.date | date: 'dd/MM/yy HH:mm' }}</span>
			<div class="extra">
				<i ng-class=""></i>
			</div>
		</li>
	</ul>
</section>
