<div ng-show="!pending">
	<span class="error">{{ error }} <a target="blank" ng-if="link" ng-href="https://github.com/42Zavattas/Field/issues">contact us</a>.</span>
	<div ng-if="!error">
		<div class="associated">
			<div class="flex">
				<img ng-src="https://cdn.42.fr/userprofil/commentview/{{ res.target }}.jpg">
				<i class="icon-switch"></i>
				<img ng-src="https://cdn.42.fr/userprofil/commentview/{{ res.corrector }}.jpg">
			</div>
			Merci ! Vous venez de confirmer le rendez-vous avec <strong>{{ res.target }}</strong> le <strong>{{ res.date }}</strong>.
		</div>
	</div>
</div>
<div class="loader" ng-hide="!pending">
	Loading...
</div>
